/* font form google */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;800&family=Pacifico&display=swap');

/* universal style */
* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;

}

/* header start */
/* nav start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 120px;
}

nav>ul {
    display: flex;
    gap: 40px;
}

.nav-title-container {
    display: flex;
    align-items: center;
}

nav .nav-title-container .nav-title {
    font-family: 'Pacifico', cursive;
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

nav .nav-title span {
    color: #FF5400;
    font-family: Mulish;
    font-weight: 800;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color:  #424247;
    font-size: 1rem;
    font-weight: 400;
}
nav ul li a:hover{
    color: #FF5400;
}
.hamburger-menu{
    font-size: 2rem;
    display: none;
}